<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Contact</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a [routerLink]="['/home']" style="color:#05337e;">Home</a></li>
                    <li>Contact</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div>
                <iframe style="border:0; width: 100%; height: 340px;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3387.2113400901044!2d115.8541929157547!3d-31.900854727045047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32b01cf4730a21%3A0x8771839b73ebc62c!2s4%20Thurlow%20Ave%2C%20Yokine%20WA%206060!5e0!3m2!1sen!2sau!4v1658907038779!5m2!1sen!2sau"
                    frameborder="0" allowfullscreen>
                </iframe>
            </div>
            <!-- End Google Maps -->

            <div class="row gy-4 mt-4">
                <div class="col-lg-4">
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h4>Location:</h4>
                            <p><b>4 Thurlow Avenue, Yokine, Perth, 6060, WA</b></p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h4>Email:</h4>
                            <p>mcgarage6060@gmail.com</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0"></i>
                        <div>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="col-lg-8">
                    <!-- <form> -->
                    <form action="https://formsubmit.co/bf540f3b9c3176cb36295b5ca0af7ee7" method="POST" role="form"
                        class="php-email-form" id="form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="fullname" class="form-control" id="fullname"
                                    placeholder="Your Name" required (click)="doClear()" [(ngModel)]=name>
                                <div id="errMessage">{{nameMsg}}</div>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="text" class="form-control" name="number" id="number"
                                    placeholder="Your number" required (click)="doClear()" [(ngModel)]=number
                                    maxlength="10">
                                <div id="errMessage">{{numberMsg}}</div>
                            </div>
                        </div>
                        <div class=" form-group mt-3">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required (click)="doClear()" [(ngModel)]=email>
                            <div id="errMessage">{{emailMsg}}</div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                required (click)="doClear()" [(ngModel)]=subject>
                            <div id="errMessage">{{subjectMsg}}</div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5"
                                placeholder="Leave your message or Feedback to our service" id="message" required
                                (click)="doClear()" [(ngModel)]=message></textarea>
                            <div id="errMessage">{{descpMsg}}</div>
                        </div>
                        <div class="text-center">
                            <p style="text-align:center; color:green">{{successMsg}}</p>
                            <button type="submit" (click)="sendMsg()">Send Message</button>
                        </div>

                    </form>
                </div><!-- End Contact Form -->

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
<app-footer></app-footer>