<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Sign-Up</h2>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a [routerLink]="['/home']" style="color:#05337e;">Home</a></li>
                <li><a [routerLink]="['/login']" style="color:#05337e;">Login</a></li>
                <li>Sign-Up</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->
<section id="login" class="get-a-quote">
    <div class="container" data-aos="fade-up">
        <form #signUpForm="ngForm" (ngSubmit)="register()">
            <h2>Sign-Up</h2>
            <div id="cont">
                <div class="row gy-4">
                    <div class="col-md-12 ">
                        <input type="text" class="form-control" name="name" [(ngModel)]="name" (click)="clear()"
                            placeholder="Full Name" required>
                    </div>
                    <div class="col-md-12 ">
                        <input type="text" class="form-control" name="number" [(ngModel)]="number" (click)="clear()"
                            placeholder="Contact Number" maxlength="10" required>
                    </div>
                    <div class="col-md-12 text-center">
                        <select id="gender" name="gender" [(ngModel)]="gender" (click)="clear()" class="form-control">
                            <option value="">Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col-md-12 ">
                        <input type="email" class="form-control" name="email" [(ngModel)]="email" (click)="clear()"
                            placeholder="Email" required>
                    </div>
                    <div class="col-md-12 ">
                        <input type="password" class="form-control" name="password" [(ngModel)]="password"
                            (click)="clear()" placeholder="Password" required>
                    </div>
                    <div id="message" style="text-align: center; color:red"></div>
                    <div class="col-md-12 ">
                        <span id="captcha">Prove that you are not a Robot:</span>
                        <br>
                        <div id="numbers">
                            <span>{{num1}}</span> <span>&nbsp;&nbsp;+&nbsp;&nbsp;</span> <span>{{num2}}</span>
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <input type="number" class="form-control" name="captcha" [(ngModel)]="answer" (click)="clear()"
                            placeholder="Enter the correct answer" required>
                    </div>
                    <div class="col-md-12 text-center">
                        <p id="message">{{message}}</p>
                        <p style="color: green;">{{Successmessage}}</p>
                        <button type="submit">Sign-Up</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<app-footer></app-footer>