<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Privacy and Policy</h2>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li style="color: #05337e; width: auto;"><a [routerLink]="['/home']"> Home</a></li>
                <li style="width: auto;">Privacy and Policy</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->

<div class="containerPrivacy">
    <div class="row gy-4 align-items-center " id="termsCard" data-aos="fade-up">
        <div class="col-md-10" id="card">
            <h2 id="privacy">Privacy Policy</h2>
            <strong>
                <ul>
                    <li><i class="bi bi-check2-all"></i>We are committed to protect the Personal Information that we
                        collect.
                        We comply to our obligations under the Australian Data Protection Principles. The policy
                        provides
                        the information that how we collect, store, use and disclose the personal data.</li>
                    <li> <i class="bi bi-check2-all"></i>MC Garage provides multiple car services including car
                        servicing
                        and repairing, customizations and modifications and car wrapping. The online web application is
                        intended for the customers to use and book appointments and contact us for any quarries. For
                        this
                        we will require the Personal Information and without it, we may not be able to provide our
                        services,
                        or else the services can be limited.</li>
                    <li> <i class="bi bi-check2-all"></i> The type of information that we collect could differ depending
                        on the nature of services that will be provided to you. Your personal information that we
                        collect
                        may include your name, email address, home address, telephone number, vehicle details, bank
                        details
                        and any other contact details.</li>
                    <li> <i class="bi bi-check2-all"></i> If you want to become one of our team members all your contact
                        details,
                        qualifications, employment history and information regarding your application response all this
                        information will be collected.</li>
                    <li> <i class="bi bi-check2-all"></i> You must contact us immediately, if in case you believe your
                        Personal
                        Information is accessed by someone or if you want to discuss anything regarding our privacy
                        policy.</li>
                    <li> <i class="bi bi-check2-all"></i> This document contains the latest Private Policy which is
                        updated from
                        time to time. Therefore, you should review our Privacy Policy every time you visit our website
                        or when
                        providing us with any Personal Information.</li>
                </ul>
            </strong>
        </div>
    </div>
</div>
<br>
<app-footer></app-footer>