<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center"
        style="background-image: url('../../assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Error</h2>
                </div>
            </div>
        </div>
    </div>
</div><!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="content order-last  order-lg-first">
                <h1>Error-Link</h1>
                <p> You have entered the wrong link. You can navigate to our pages from Navigation bar from the top </p>
            </div>
        </div>
    </div>
</section>