<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a [routerLink]="['/home']" style="color:#05337e;">Home</a></li>
                    <li>Services</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <span>Our Services</span>
                <h2>Our Services</h2>
            </div>
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="card">
                        <h3><a [routerLink]="['/bookAppointment']" class="stretched-link">Servicing</a></h3>
                        <p>There are multiple services types. Interim service, full service and major service</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="card">
                        <h3><a [routerLink]="['/bookAppointment']" class="stretched-link">After Market Parts</a></h3>
                        <p>Parts such as exhausts, spoiler, alloys, front grill, and much more can be sold
                            individually or can be fitted to the vehicle at an additional cost.</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                    <div class="card">
                        <h3><a [routerLink]="['/bookAppointment']" class="stretched-link">Body kit</a></h3>
                        <p>
                            Body kits are sold according to the make and model of the car. Can help to increase the
                            engine performance and the appearance of the car. The kits can be ordered on customer’s
                            demand
                            if in case, the particular model's kit is unavailable.
                        </p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                    <div class="card">
                        <h3><a [routerLink]="['/bookAppointment']" class="stretched-link">Car Body Wrap</a></h3>
                        <p>Vinyl wrap sheets are used to cover the original paint work without any damages to original
                            paint giving the vehicle a superior and a wealthy look</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="card">
                        <h3><a [routerLink]="['/bookAppointment']" class="stretched-link">Windows and head/tail lights
                                tint</a>
                        </h3>
                        <p>Window tints and head/ tails lights can help to stop the harsh glare of sun entering the
                            vehicle.
                            The tinting of the lights gives the car a complete over all look to match with the window
                            tint.</p>
                    </div>
                </div><!-- End Card Item -->

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                    <div class="card">
                        <h3><a [routerLink]="['/bookAppointment']" class="stretched-link">Wheels and alloys</a></h3>
                        <p>Alloys give the car a balanced ride and handling. The alloy wheels are lighter and put less
                            strain on suspension,
                            thus increases the life of suspension. Alloys can act as the boots of the car, which gives
                            the car a sporty look</p>
                    </div>
                </div><!-- End Card Item -->
            </div>
        </div>
    </section><!-- End Services Section -->
    <!-- ======= Features Section ======= -->
    <section id="features" class="features " style="margin-top: -5%;" data-aos="fade-up" data-aos-delay="200">
        <div class="container">
            <div class="row gy-4 align-items-center features-item" id="serviceCard" data-aos="fade-up"
                data-aos-delay="100">
                <div class="col-md-10" id="card" data-aos="fade-up" data-aos-delay="100">
                    <h3 id="servicess">Service</h3>
                    <p style="text-align: center;">
                        There are multiple servicing options that we provide to the customers.
                    </p>
                    <ul>
                        <li><i class="bi bi-check"></i> <b>Interim service: </b> This service is not the full service
                            and is
                            to be done every 6 months or 5000-6000 km. It helps to address any issues that might be
                            caused by driving extra kilometers than average. The service includes vehicle safety
                            inspection, engine oil and filter change, top up brake fluid and coolant. </li>
                        <li><i class="bi bi-check"></i> <b>Full service: </b> Generally done every 10000 – 12000 km
                            as it makes sure that the car is running smoothly and efficiently while reducing the
                            risks of a break-down. This service includes inspection of the vehicle topping up the
                            fluids, changing the oil and filters, steering alignment, suspension and reviewing
                            spark plugs and changing them if required</li>
                        <li><i class="bi bi-check"></i> <b>Major service: </b>done every 30000 - 35000 km. Major service
                            includes all that full service offers but in much more detail. All major parts are
                            inspected
                            thoroughly including motor and timing belts. The service includes change of sparkplugs,
                            cabin filter,
                            air filter and much more. </li>
                    </ul>
                </div>
                <div class="col-md-12 text-center" id="card-button">
                    <button [routerLink]="['/quote']">Get a quote</button>
                </div>
            </div><!-- Features Item -->
            <br>
            <div class="row gy-4 align-items-center features-item" id="serviceCard" data-aos="fade-up"
                style="margin-top: 0.65%;">
                <div class="col-md-10" id="card">
                    <h3 id="wrapping">Car/Bike Wraps</h3>
                    <p><i class="bi bi-check" style="color: blue;"></i>
                        Car/Bike wrapping is a huge vinyl sheets which can be molded into any shape to cover the car
                        directly. It can change the appearance of the car giving it a new look.
                    </p>
                    <p><i class="bi bi-check" style="color: blue;"></i>
                        Wraps prevent the paint damage by giving an extra layer of vinyl on top of the original paint.
                        The original paint is protected which increases the market value of the car. Also, the vinyl
                        wraps make the car
                        look good all year long.
                    </p>
                </div>
                <div class="col-md-12 text-center" id="card-button">
                    <button [routerLink]="['/quote']">Get a quote</button>
                </div>
            </div><!-- Features Item -->
            <br>
            <div class="row gy-4 align-items-center features-item" id="serviceCard" data-aos="fade-up"
                style="margin-top: 1%;">
                <div class="col-md-10" id="customAddition">
                    <h3 style="margin-left:25%">Custom Addition</h3>
                    <p style="text-align: center;">There are different customisations which we offer</p>
                    <ul>
                        <li><i class="bi bi-check"></i> Window tinting and head/tail light tints</li>
                        <li><i class="bi bi-check"></i> Body kit and exhaust modifications.</li>
                        <li><i class="bi bi-check"></i> Paint protection and vinyl wrapping</li>
                    </ul>
                </div>
                <div class="col-md-12 text-center" id="card-button">
                    <button [routerLink]="['/quote']">Get a quote</button>
                </div>
            </div><!-- Features Item -->
        </div>
    </section><!-- End Features Section -->


</main><!-- End #main -->
<app-footer></app-footer>