<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Online-Order</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li><a [routerLink]="['/home']" style="color:#05337e;">Home</a></li>
                    <li>Online-Order</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->
    <h3 style="text-align:center;color: #05337e;"><strong>'MCGarage'</strong> is an wholsaler of <a href="https://vvividshop.ca/collections/automotive/">VViViD
            Shop</a></h3>
    <!-- ======= Wraps Section ======= -->
    <section id="wraps" class="cards" data-aos="fade-up">
        <div class="section-header" data-aos="fade-up">
            <span>Wraps</span>
            <h2>Wraps</h2>
        </div>
        <div id="cards-collection">
            <div class="card" *ngFor="let datas of wrap" data-aos="fade-up">
                <img src={{datas.img}} class="card-img-top" alt="Wraps" data-aos="fade-up" />
                <div class="card-body" data-aos="fade-up" style="height: 200px;">
                    <h4 class="card-title" style="color: #05337e; height: 80px;">{{datas.title}}</h4>
                    <h5 class="card-title" style="color: Black;">{{datas.price}}</h5>
                    <!-- <p class="card-text">{{datas.desc}}</p> -->
                    <a href="https://vvividshop.ca/collections/automotive/" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </section><!-- End Wraps Section -->

    <!-- ======= Auto-Parts Section ======= -->
    <section id="autoParts" class="cards" data-aos="fade-up">
        <div class="section-header" data-aos="fade-up">
            <span>Auto-Parts</span>
            <h2>Auto-Parts</h2>
        </div>
        <div id="cards-collection" data-aos="fade-up">
            <div class="card" *ngFor="let datas of autoParts" data-aos="fade-up">
                <img src={{datas.img}} class="card-img-top" alt="Alloy" />
                <div class="card-body" data-aos="fade-up">
                    <h4 class="card-title">{{datas.title}}</h4>
                    <h5 class="card-title">{{datas.price}}</h5>
                    <p class="card-text">{{datas.desc}}</p>
                    <div class="btn btn-primary">Add to Cart</div>
                </div>
            </div>
        </div>
    </section><!-- End Auto-Parts Section -->


</main><!-- End #main -->
<app-footer></app-footer>