.card {
  box-shadow: 10px 5px 10px rgb(100, 96, 96, 0.6);
  max-width: 300px;
  margin: 20px;
  text-align: center;
  display: inline-table;
  padding: 20px;
  background-color: rgb(208, 224, 236);
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #05337e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  box-shadow: #05337e;
}

.card button:hover {
  opacity: 0.7;
}

#cards-collection {
  margin-left: 8%;
}

#cards-collection .card img {
  height: 200px;
}

#cards-collection .card {
  height: auto;
  width: 100%;
}

#autoParts {
  visibility: hidden;
  /* hiding the auto-parts section until client wants to add some parts under that section  */
}