<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Edit Appointment</h2>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li><a [routerLink]="['/home']" style="color:#05337e;">Home</a></li>
                <li><a [routerLink]="['/services']" style="color:#05337e;">Services</a></li>
                <li><a [routerLink]="['/bookAppointment']" style="color:#05337e;">Book an Appointment</a></li>
                <li>Edit Appointment</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->
<main>
    <div id="containerAppoint" *ngIf="isShowSearch">
        <h2>Edit Your Appointment</h2>
        <div class="col-lg-8 fileds">
            <form class="php-email-form" #appointmentForm="ngForm" (ngSubmit)="fetch()">
                <div id="cont">
                    <div class=" form-group mt-3">
                        <input type="text" class="form-control" name="nameSearch" [(ngModel)]="nameSearch"
                            (click)="clear()" id="name" placeholder="Appointment ID" required>
                    </div>
                    <div class="text-center">
                        <div style="color:green">{{successMsg}}</div>
                        <div style="color:red">{{errMsg}}</div>
                        <br>
                        <button type="submit">Edit Appointment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div id="containerAppoint" *ngIf="isShowEdit">
        <h2>Edit an Appointment</h2>
        <div class="col-lg-8 fileds">
            <!-- <form class="php-email-form" #appointmentForm="ngForm" (ngSubmit)="update()"> -->
            <form>
                <div id="cont">
                    <div class=" form-group mt-3">
                        <input type="text" class="form-control" name="appointmentID" [(ngModel)]="appointmentID"
                            (click)="clear()" id="name" placeholder="Appointment ID" required readonly>
                    </div>
                    <div class=" form-group mt-3">
                        <input type="text" class="form-control" name="name" [(ngModel)]="name" (click)="clear()"
                            id="name" placeholder="Full name" required>
                    </div>
                    <div class=" form-group mt-3">
                        <input type="text" class="form-control" name="number" [(ngModel)]="number" (click)="clear()"
                            id="number" placeholder="Contact Number" maxlength="10" required>
                    </div>
                    <div class=" form-group mt-3">
                        <input type="email" class="form-control" name="Email" [(ngModel)]="email" (click)="clear()"
                            id="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group mt-3 dropdown">
                        <select id="appointment" name="appointment" [(ngModel)]="appointment" (click)="clear()"
                            class="form-control">
                            <option value="">Appointment for?</option>
                            <option value="General Checking">General-Checking</option>
                            <option value="Servicing">Servicing</option>
                            <option value="Wrapping">Wrapping</option>
                            <option value="Custom Addition">Custom Addition</option>
                        </select>
                    </div>
                    <div class=" form-group mt-3">
                        <input type="date" class="form-control" name="date" [(ngModel)]="date" (click)="clear()"
                            id="date" required>
                    </div>

                    <div class="form-group mt-3 dropdown">
                        <select id="time" name="time" [(ngModel)]="time" (click)="clear()" class="form-control">
                            <option value="">Select Time</option>
                            <option value="8 AM">8 AM</option>
                            <option value="9 AM">9 AM</option>
                            <option value="10 AM">10 AM</option>
                            <option value="11 AM">11 AM</option>
                            <option value="12 PM">12 PM</option>
                            <option value="1 PM">1 PM</option>
                            <option value="2 PM">2 PM</option>
                            <option value="3 PM">3 PM</option>
                            <option value="4 PM">4 PM</option>
                        </select>
                    </div>

                    <div class="text-center">
                        <div style="color:green">{{successMsgApp}}</div>
                        <div style="color:red">{{errMsgApp}}</div>
                        <br>
                        <button (click)="update()">Edit Appointment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br>
</main>
<app-footer></app-footer>