<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/page-header.jpg');">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Terms and Conditions</h2>

                </div>
            </div>
        </div>
    </div>
    <nav>
        <div class="container">
            <ol>
                <li style="color: #05337e; width: auto;"><a [routerLink]="['/home']"> Home</a></li>
                <li style="width: auto;">Terms and Condition</li>
            </ol>
        </div>
    </nav>
</div><!-- End Breadcrumbs -->

<div class="containerTerms">
    <div class="row gy-4 align-items-center " id="termsCard" data-aos="fade-up">
        <div class="col-md-10" id="card">
            <h2 id="terms">Terms and Conditions</h2>
            <strong>
                <p style="text-align:center;">These terms of use apply when you access or use our website or use our
                    services. Please read and understand well, if you have any questions or concerns, feel free to
                    contact
                    us.
                    When you use our website and our services, you are bound to agree to the following terms and
                    conditions.
                </p>
                <ul>
                    <li> <i class="bi bi-check2-all"></i>Our Services are intended for persons who are at least or over
                        the age of 18 years.
                    </li>
                    <li> <i class="bi bi-check2-all"></i>If you are registering on the website or using our services on
                        behalf of a legal
                        entity or other person or a business, you must be able to enter into a legal bounding agreements
                        contract on their
                        behalf. Also, proof is required to us that you are authorized for the same and that the relevant
                        person, company or
                        an entity has approved you.
                    </li>
                    <li> <i class="bi bi-check2-all"></i>To register on our website or utilize any of our service,
                        <ul>
                            <li> <i class="bi bi-chevron-right"></i>You should not create an account for someone other
                                than
                                your own account. (Other than an authorized agent as stated above in line 2).</li>
                            <li> <i class="bi bi-chevron-right"></i>You should not create a fake identity or
                                misrepresent your
                                affiliation with an entity or other person.</li>
                            <li> <i class="bi bi-chevron-right"></i>You should always provide us the accurate
                                information to us
                                regarding the contact information and keep that up to date. </li>
                            <li> <i class="bi bi-chevron-right"></i> agree that we may block or remove any user for
                                reasons,
                                that our services are used inappropriately.</li>
                        </ul>
                    </li>
                    <li> <i class="bi bi-check2-all"></i>You consent MC Garage to collect and use your information to
                        advertise
                        and market MC Garage products and services and providing another offers to you by sending you
                        emails and messages.
                    </li>
                </ul>
            </strong>
        </div>
    </div>
</div>
<app-footer></app-footer>