ul {
   list-style: none;
}

.containerTerms {
   border: 1px solid white;
   margin-left: 6%;
   width: 93%;
}

#terms, p {
   text-align: center;
   color: #05337e;
   width: auto;
}



ul li {
   color: #05337e;
   margin-left: 5%;
   text-align: center;
   width: auto;
}

#terms {
   text-shadow: 0 0 10px black;
   animation-name: glow;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes glow {
   from {
      text-shadow: 0 0 10px black;
   }

   to {
      text-shadow: 0 0 30px rgb(122, 102, 102);
   }
}

@media only screen and (max-width: 600px) {
   ul li {
      color: #05337e;
      margin-left: -2%;
      text-align: justify;
   }

   #terms, p {
      text-align: justify;
      color: #05337e;
      width: 90%;
   }
}

@media only screen and (max-width: 1200px) {
   ul li {
      color: #05337e;
      margin-left: -2%;
      text-align: justify;
   }

   #terms, p {
      text-align: justify;
      color: #05337e;
      width: 90%;
   }
}